:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #FECD2F;
    --preto: #000000;
    --azul: #052034;
    --rosa: #813772;
    --laranja: #e84016;
}


body{
    background-color: var(--azul);
}


.titulo_principal{
    font-size: 70px;
    color: var(--laranja);
    text-align: center;
}
.paragrafo_principal{
    text-align: justify;
    font-size: 50px;
    color: var(--branco);
}