:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #FECD2F;
    --preto: #000000;
    --azul: #062f4f;
    --rosa: #813772;
    --laranja: #b82601;
}


body{
    background-color: var(--cor-de-fundo);
}


.titulo_principal{
    font-size: 70px;
    color: var(--laranja);
    text-align: center;
}
p{
    text-align: justify;
    font-size: 50px;
    color: var(--azul);
}